.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active) {
    background-color: #0F172A;
    color: #F3EFE0;
  }
  html[data-theme="dark"]
    .menu
    :where(li:not(.menu-title):not(:empty))
    > :where(:not(ul).active) {
    background-color: #F3EFE0;
    color: #0F172A;
  }